body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
}

nav {
  background: #0d0c0c;
  color: white;
  padding: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1em;
  color: white;
}

section {
  padding: 2em;
  border-bottom: 1px solid #eee;
}
